<web-app>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogSearchServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.CatalogSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.CheckInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStatusServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.CheckStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatronServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.AddPatronServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePatronServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.RemovePatronServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssessFineServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.AssessFineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatronFineListServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.GetPatronFineListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFineServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.DeleteFineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTitleServlet</servlet-name>
        <servlet-class>com.johnnyconsole.libraryms.servlet.AddTitleServlet</servlet-class>
    </servlet>
</web-app>